

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  /*color: #fff;*/
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 33px;
  color: #FFFFFF;
  z-index: 100;
  margin-top: 0;
  margin-right: 60px;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  @include text-shadow(1px 1px 0 rgba(white, 1));
  margin-top: 100px;
  margin-right: 30vw;
  font-family: 'Bungee', cursive;
  font-size: 1.5vw;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

h3 {
  text-align: center;
  color: #a8a8a8;
  @include text-shadow(1px 1px 0 rgba(white, 1));
  margin-top: 100px;
  margin-right: 30vw;
  font-family: 'Bungee', cursive;
  font-size: 1.1vw;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

.imgbox img {
  float: left;
  width: 100%;
  height: auto;
  display: block;
}








canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: -600;
}

.p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: -500;
}

.p5Canvas2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: -300;
}

* {
  font-family: 'Montserrat', 'lato', 'helvetica', sans-serif;
}

.page {
  position: absolute;
  overflow: scroll;
}

p{
  font-family: 'Montserrat', 'lato', 'helvetica', sans-serif;
  font-size: 23px; color: white;
}

#p1 {
  left: 15%;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
  /*left: 200vw;*/
}

#p1 { background: clear; opacity: 0.1;}
#p2 { background: black; opacity: 0.8;}
#p3 { background: black; opacity: 0.8;}
#p4 { background: black; opacity: 0.8;}
#p5 { background: black; opacity: 0.8;}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-175%);
  -webkit-transform: translateX(-175%);
  -moz-transform: translateX(-175%);
  -o-transform: translateX(-175%);
  transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: clearfix;
  opacity: 0.0;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 23px;
  display: block;
}

.social-icon{
  color: #fff;
  font-size: 13px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}
#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}
#t1:target #about,
#t2:target #portfolio,
#t3:target #process,
#t4:target #blog,
#t5:target #contact {
  transform: scale(0.8) !important;
  -webkit-transform: scale(0.8) !important;
  -moz-transform: scale(0.8) !important;
  -o-transform: scale(0.8) !important;
  color: orange;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}
#fb-icon .social-icon {
  margin: 900px 0 0 60px;
  position: absolute;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  z-index: 3;
}
#tw-icon .social-icon {
  margin: 900px 0 0 90px;
  position: absolute;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  z-index: 3;
}
#git-icon .social-icon {
  margin: 900px 0 0 120px;
  position: absolute;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  z-index: 3;
}
#inst-icon .social-icon {
  margin: 900px 0 0 150px;
  position: absolute;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  z-index: 3;
}
#share-icon .social-icon {
  margin: 900px 0 0 180px;
  position: absolute;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  z-index: 3;
}

a {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  margin-left: 133px;
  margin-top: -23px;
  font-size: 23px;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: orange;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  /*height: 220px;*/
  right: 0%;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}
